//Copyright Andrew Bilotti
body {
background-color: white;
width: 100%;
text-align: center;
}
header {
  background-color: #1af508;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: inherit;
  height: 30%;
  overflow: hidden;
  margin:0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
#text {
  background-color: lightBlue;
  margin:0 auto;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
  padding: 100% 200px 100% 200px;
}
#links {
  position: relative;
}
#AAI {
  font-size: 375%;
  background-color: #66ccff;
  font-family: 'Lobster', cursive;
}
#dev {
  font-size: 500%;
  font-family: 'Londrina Outline', cursive;
}
#dotgithub {
  font-size: 200%;
  font-family: 'Kranky', cursive;
}
#members {
  padding: 5px;
  border-right-style: solid;
  border-right-width: 1px;
}
#projects {
  padding: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
}
#contact {
  padding: 5px;
  border-left-style: solid;
  border-left-width: 1px;
}
