@charset="UTF-8"
body {
background-color: white;
width: 100%;
text-align: center;
}
header {
  background-color: blue;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: inherit;
  height: 30%;
  overflow: hidden;
  margin:0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
#text {
  background-color: lightBlue;
  margin:0 auto;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
}
