@charset="UTF-8"
body {
background-color: white;
width: 100%;
text-align: center;
position: fixed;
}
header {
  background-color: #1af508;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: inherit;
  height: 30%;
  overflow: hidden;
  margin:0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
#text {
  background-color: lightBlue;
  margin:0 auto;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
  padding: 100% 200px 100% 200px;
}
#links {
  position: relative;
}
